# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/processed/

# Machine Learning models
models/*.pkl
models/*.joblib

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/